@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes downarrow {
  0% {
    -webkit-transform: translateY(-0.2em);
    opacity: 0.3
  }

  100% {
    -webkit-transform: translateY(0.6em);
    opacity: 0.9
  }
}


body {
  margin: 0;
  font-family: 'Manrope', sans-serif;
}


.parallax .image.one {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #4000b8, #203fc9);
  background-size: 400% 400%;
  animation: gradient 7s ease infinite;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}

.logo1 {
  text-align: center;
  width: 25%;
  margin-top: 20vh;

}

p {
  font-family: 'Manrope', sans-serif;
  font-size: 2em;
  color: white;
  margin: auto;
  max-width: 90%;
  font-weight: 300;
}


.content {
  display: flex;
  height: 100vh;
  flex-flow: column;
  align-items: center;
  /* background-color:#818FC9; */
  /* background: linear-gradient(180deg, #a1c4fd, #c2e9fb); */
  background: linear-gradient(-45deg, #ee7752, #dd86a8, #a1c4fd, #c2e9fb);
  background-size: 400% 400%;
  animation: gradient 7s ease infinite;
}

.textintro {
  text-align: center;
}

.arrow {
  border-color: transparent;
  border-style: solid;
  border-width: 0 2em;
  display: block;
  height: 0;
  margin-bottom: 10vh;
  opacity: 0.4;
  text-indent: -9999px;
  transform-origin: 50% 50%;
  width: 0;
}

.down {
  animation: downarrow 0.6s infinite alternate ease-in-out;
  border-top: 2em solid white;
}

.head {
  display: flex;
  height: 40vh;
  align-items: center;
  justify-content: center;
}

#logo2 {
  display: flex;
  width: 20vh;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
  color: black;
}

.top {
  font-family: 'Manrope', sans-serif;
  margin-left: 100px;
  margin-right: 100px;

}

.top:hover {
  color: #777;
  transition: .30s ease-in-out;
}

.container {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.options {
  font-family: 'Manrope', sans-serif;
  font-weight: 600;
  border: solid black 1px;
  margin: 50px 50px 50px 50px;
  padding: 50px 50px 50px 50px;
  background-color: whitesmoke;
  -webkit-box-shadow: 5px 5px 0px 2px rgba(0, 0, 0, 1);
  -moz-box-shadow: 5px 5px 0px 2px rgba(0, 0, 0, 1);
  box-shadow: 5px 5px 0px 2px rgba(0, 0, 0, 1);
}

.options:hover {
  background-color: black;
  color: white;
  -webkit-box-shadow: 5px 5px 0px 2px rgb(255, 255, 255, 1);
  -moz-box-shadow: 5px 5px 0px 2px rgb(255, 255, 255, 1);
  box-shadow: 5px 5px 0px 2px rgba(255, 255, 255, 1);
  transition: all ease 0.25s;
}

/* POP-UP SECTION */

.button {
  font-family: 'Manrope', sans-serif;
  text-decoration: none;
  font-size: 1.25rem;
  display: inline-block;
  color: #000;
  margin: 50px 0;
}

.button:hover {
  color: #777;
  transition: .30s ease-in-out;
}

.popup {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  overflow: hiden;
  transition: .30s ease-in-out;
}

.popup-inner {
  position: relative;
  font-weight: 600;
  display: flex;
  align-items: center;
  max-width: 800px;
  max-height: 600px;
  border: solid black 1px;
  -webkit-box-shadow: 5px 5px 0px 2px rgba(0, 0, 0, 1);
  -moz-box-shadow: 5px 5px 0px 2px rgba(0, 0, 0, 1);
  box-shadow: 5px 5px 0px 2px rgba(0, 0, 0, 1);
  background-color: #fff;
}

.popuptext {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 95%;
  height: 100%;
  padding: 1rem;
}

.popuptext p {
  font-size: 1em;
  color: #000;
  line-height: 1.5;
  margin: 0;
}

.popuptext a {
  text-decoration: none;
  color: #47BDFF;
}

.popup:target {
  visibility: visible;
  opacity: 1;
}

.popup:target .popup-inner {
  bottom: 0;
  right: 0;
  transform: rotate(0);
}

.closepopup {
  font-size: 2em;
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: 1.5rem;
  height: 1.5rem;
  font-weight: 500;
  z-index: 4;
  color: #000;
  line-height: 2rem;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}