/* version regular */
@font-face {
  font-family: 'Avenir' ;
  src: url(font/avenirRegular.woff2) format('woff2') , 
       url(font/avenirRegular.woff) format('woff') ;
  font-weight: normal ;
  font-style: normal ; 
}

/* version bold */
@font-face {
  font-family: 'Avenir' ;
  src: url(font/avenirBold.woff2) format('woff2') , 
       url(font/avenirBold.woff) format('woff') ;
  font-weight: bold ;
  font-style: normal ; 
}

/* version italic */
@font-face {
  font-family: 'Avenir' ;
  src: url(font/avenirItalic.woff2) format('woff2') , 
       url(font/avenirItalic.woff) format('woff') ;
  font-weight: normal ;
  font-style: italic ; 
}




body {
  margin: 0;
  font-family: 'Avenir', sans-serif;
  overflow: hidden;
}

/* Page 1  */

.parallax .image.one {
  background-image: url(img/fondAccueil.jpg) ;
  background-size: 400% 400%;
  animation: gradient 30s ease infinite;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}

.logo1 {
  text-align: center;
  width: 29%;
  margin-top: 34vh;

}

p {
  font-family: 'Avenir', sans-serif;
  font-size: 1.5em;
  color: white;
  margin: 70px auto auto auto;
  max-width: 90%;
  font-weight: 600;
  line-height: 36px;
}


.textintro {
  text-align: center;
}

.arrow {
  border-color: transparent;
  border-style: solid;
  border-width: 0 2em;
  display: block;
  height: 0;
  margin-bottom: 5vh;
  opacity: 0.4;
  text-indent: -9999px;
  transform-origin: 50% 50%;
  width: 0;
}

.down {
  animation: downarrow 0.6s infinite alternate ease-in-out;
  border-top: 2em solid white;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes downarrow {
  0% {
    -webkit-transform: translateY(-0.2em);
    opacity: 0.3
  }

  100% {
    -webkit-transform: translateY(0.6em);
    opacity: 0.9
  }
}

/* Page 2 */

.content {
  display: flex;
  
  flex-flow: column;
  background: linear-gradient(-45deg, #052488, #456ded, #a1c4fd, #c2e9fb);
  background-size: 400% 400%;
  animation: gradient 7s ease infinite;
  height: 100vh;
  justify-content: space-around ;
}

.head {
  display: flex;
  position: relative ;
  top: -9%; 
  align-items: center;
  justify-content: space-between;
}

#logo2 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 140px ; 
}

#cs {
  position: relative ;
  left: 4% ;
}

#ap {
  position: relative ;
  right: 4% ;
}

.head a {
  text-decoration: none;
  color: black; 
  font-size: 1.2em; 
}


.container a {
  font-family: 'Avenir' ;
  text-decoration: none;
  color: black;
  font-size: 1.7em ; 
  font-weight: 600; 
}

.top {
  font-family: 'Avenir', sans-serif;
  margin-left: 100px;
  margin-right: 100px;

}

.top:hover {
  color: white;
  transition: .45s ease-in-out;

}

.container {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  position: relative ;
  top: -15%; 
  height: 20vh ; 
}
#es {
  align-self: flex-start ;
}

.options {
  font-weight: 600;
  border: solid black 1px;
  margin: 50px 50px 50px 50px;
  padding: 50px 50px 50px 50px;
  background-color: whitesmoke;
  -webkit-box-shadow: 5px 5px 0px 2px rgba(0, 0, 0, 1);
  -moz-box-shadow: 5px 5px 0px 2px rgba(0, 0, 0, 1);
  box-shadow: 5px 5px 0px 2px rgba(0, 0, 0, 1);
  width: 160px;
  height: 55px;
  display: flex;
  position: relative ; 
  align-items: center;
  justify-content: center;

}

.clic {
  padding: 50px ; 
}

.options:hover {
  background-color: #7692F8;
  /* background-color: #774CE0 ; */
  -webkit-box-shadow: 5px 5px 0px 2px black;
  -moz-box-shadow: 5px 5px 0px 2px black;
  box-shadow: 5px 5px 0px 2px black;
  transition: all ease .75s;

}

.options:hover .blanc {
  color: white ;
  transition: all ease .75s;
}


/* POP-UP SECTION */

.button {
  font-family: 'Avenir', sans-serif;
  text-decoration: none;
  font-size: 1rem;
  display: inline-block;
  color: #000;
  margin: 0 0;
  /* width: 10px ; 
  height: 10px ;  */
  position: absolute ;
  top: 2% ;
  left: 92% ;
  z-index: 1;
}

.popup {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  overflow: hiden;
  transition: .30s ease-in-out;
}

.popup-inner {
  position: relative;
  font-weight: 600;
  display: flex;
  align-items: center;
  max-width: 800px;
  max-height: 600px;
  border: solid black 1px;
  -webkit-box-shadow: 5px 5px 0px 2px rgba(0, 0, 0, 1);
  -moz-box-shadow: 5px 5px 0px 2px rgba(0, 0, 0, 1);
  box-shadow: 5px 5px 0px 2px rgba(0, 0, 0, 1);
  background-color: #fff;
}

.popuptext {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 95%;
  height: 100%;
  padding: 2rem;
  line-height: 1.25rem;
}

.popuptext p {
  font-size: 1em;
  color: #000;
  line-height: 2.25;
  margin: 0;
  text-align: justify;
}

.popuptext a {
  text-decoration: none;
  color: #47BDFF;
}

.popup:target {
  visibility: visible;
  opacity: 1;
}

.popup:target .popup-inner {
  bottom: 0;
  right: 0;
  transform: rotate(0);
}

.closepopup {
  font-size: 2em;
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: 1.5rem;
  height: 1.5rem;
  font-weight: 500;
  z-index: 4;
  color:black;
  line-height: 2rem;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}


/* Block Scroll  */

#main-wrap>div
{
  position: relative;
  margin: auto;
  text-align: center;
}

#block-up-arrow, #block-down-arrow {
  cursor: pointer;
}
