/* version regular */
@font-face {
    font-family: 'Avenir' ;
    src: url(font/avenirRegular.woff2) format('woff2') , 
         url(font/avenirRegular.woff) format('woff') ;
    font-weight: normal ;
    font-style: normal ; 
  }
  
  /* version bold */
  @font-face {
    font-family: 'Avenir' ;
    src: url(font/avenirBold.woff2) format('woff2') , 
         url(font/avenirBold.woff) format('woff') ;
    font-weight: bold ;
    font-style: normal ; 
  }
  
  /* version italic */
  @font-face {
    font-family: 'Avenir' ;
    src: url(font/avenirItalic.woff2) format('woff2') , 
         url(font/avenirItalic.woff) format('woff') ;
    font-weight: normal ;
    font-style: italic ; 
  }

body {
    font-family: 'Avenir', sans-serif;
    margin: auto;
    text-align: center;
    font-size: 1.5em;
}

h1 {
    font-size: 4em;
    margin-bottom: -30px;
    margin-top: 0.5%;
    text-shadow: rgba(255, 255, 255, 0.25) 5px 5px;
}

header {
    background: linear-gradient(to right, rgba(32, 63, 201, 0.589), rgba(64, 0, 184, 0.76));
    text-align: center;
    width: 100%;
    color: white;
    margin-top: 20px;
    margin-bottom: 3%;
    padding-bottom: 2%;
    padding-top: 1%;

}

header > p {
    font-weight: 600;
    margin-left: 15%;
    margin-right: 15%;
    text-shadow: rgba(0, 0, 0, 0.404) 3px 3px;
}

h1 + p {
    font-weight: 400;
}

ol {
    list-style: none;
    counter-reset: compteur;
    margin: 50px 0;
    margin-left: 20%;
    margin-right: 24%;
    display: flex;
    flex-wrap: wrap;
    text-align: left;
}


ol li {
    counter-increment: compteur;
    display: flex;
    font-size: 1.15rem;
    margin-bottom: 0.5rem;
    min-width: 600px;
    text-align: left;
    
}

li > p {
    font-weight: 600;
    font-size: 1.15em;
    text-align: left;
}

ol li::before {
    content: counter(compteur);
    font-size: 4.5rem;
    font-weight: bold;
    margin-right: 6%;
    margin-top: 0.6%;
    background: -webkit-linear-gradient(rgb(228, 136, 136), rgb(219, 0, 0));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

img {
    width: 14%;
    height: 3%;
    margin-top: 2%;
    margin-left: 0%;
    margin-bottom: 1%;
}
.Conseil1 {
    margin-left: 0px;
}


