body {
    font-family: 'Manrope', sans-serif;
    min-width: 1130px;
    margin: auto;
    text-align: center;
    font-size: 1.5em;
}

h1 {
    font-size: 4em;
    margin-bottom: -30px;
    margin-top: 0.5%;
}
h1 + p {
    font-weight: 300;
}

header {
    background: linear-gradient(to right, rgba(153,197,255, 0.589), rgba(181,230,254, 0.76));
    text-align: center;
    width: 100%;
    color: black;
    margin-top: 20px;
    margin-bottom: 3%;
    padding-bottom: 2%;
    padding-top: 1%;

}

header > p {
    margin-left: 15%;
    margin-right: 15%;
}

ol {
    list-style: none;
    counter-reset: compteur;
    margin-left: 16%;
    margin-right: 20%;
    display: flex;
    flex-wrap: wrap;
    /*min-width: 1024px;*/
} 
/*min-width ol {  besoin d'aide ici pour faire en sorte que quand on est sur une largeur minimum de 1024 px pour une tablette on a plus de marges à gauche et à droite des parapgraphes des conseils pour qu'ils remplissent toute la page en largeur alors que sur une page de 1920 px de largeur il faut qu'elles gardent les marges gauche et droite pour être plus au centre 
    margin-left: 0%;
    margin-right: 0%;
}*/


ol li {
    counter-increment: compteur;
    display: flex;
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
    min-width: 600px;
}

li > p {
    font-weight: 600;
    font-size: 1.15em;
}

ol li::before {
    content: counter(compteur);
    font-size: 4.5rem;
    font-weight: bold;
    margin-right: 6%;
    margin-top: 0.6%;
    background: -webkit-linear-gradient(rgb(228, 136, 136), rgb(219, 0, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

img {
    width: 14%;
    height: 3%;
    margin-top: 2%;
    margin-left: 0%;
    margin-bottom: 1%;
}

/*img:hover {
    visibility: hidden;
}
/* si il y a un moyen de changer entre les 2 logos avec une transition au survol en css c'est ici qu'il faut le faire pour éviter de devoir faire du JS


