/* POPUP MENU SECTION */

@keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
  
    50% {
      background-position: 100% 50%;
    }
  
    100% {
      background-position: 0% 50%;
    }
  }

#myDIV {
    /* background: linear-gradient(-45deg, #ee7752, #dd86a8, #a1c4fd, #c2e9fb); */
    /* background-image: linear-gradient(-20deg, #6e45e2 0%, #88d3ce 100%); */
    background: linear-gradient(-45deg, #667eea, #764ba2);
    background-size: 300% 300%;
    animation: gradient 15s ease infinite;
    overflow: hidden;
    width: 100%;
    height: 100%;
    z-index: 1000;
    position: fixed;
    display: none;
    margin: 0px;
    padding: 0px;
}

.menun {
    overflow: hidden;
    max-height: 300px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.mainnav {
    overflow: hidden;
    max-height: 300px;
    background-color: rgba(255, 255, 255);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.line-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: white;
    display: flex;
    align-content: center;
    justify-content: center;
}

.box-li {
    width: 150px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    margin: 25px;
    user-select: none;
}

.nodec {
    text-decoration: none;
    color: white;
    width: 130px;
}

.miniature {
    height: 75px;
    width: 75px;
    background-color: white;
    /* border-radius: 10px; */
    padding: 20px;
    margin-bottom: 10px;
    margin-right: 5px;
    user-select: none;
    border: solid black 1px;
    -webkit-box-shadow: 5px 5px 0px 2px rgba(0, 0, 0, 1);
    -moz-box-shadow: 5px 5px 0px 2px rgba(0, 0, 0, 1);
    box-shadow: 5px 5px 0px 2px rgba(0, 0, 0, 1);
}

a.nodec:hover img.miniature {
    -webkit-filter: invert(1);
    filter: invert(1);
    background-color: #888800;
    transition: all ease 0.25s;
}

.popupi {
    color: #000;
    margin: 50px 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* cursor: pointer; */
}

.popupi img {
    width: 50px;

}

.logocontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

.logo {
    width: 200px;
    float: none;
    text-align: center;
}


/* END POPUP MENU SECTION */